
.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        display: inline-block;
        padding: 1rem 3rem;
        border-radius: 10rem;
        transition: all 0.2s;
        font-size: 1.4rem;
        position: relative;

    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-gray;

        &::after {
            background-color: $color-white;
        }

    }

    &--green {
        background-color: $color-primary;
        color: $color-white;

        &::after {
            background-color: $color-primary;
        }

        
    }

    &::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 10rem;
        transition: all .4s;

    }

    

    &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
    }

    &--animate {
        animation: moveInButton .5s ease-out .9s;
        animation-fill-mode: backwards;
    }
}

.btn-text{
    &:link,
    &:visited{
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        padding: 1rem 2rem;
        border: 1px solid $color-primary;
        text-transform: uppercase;
        transition: all .2s;

    }

    &:hover{
        background-color: $color-primary;
        color: $color-white;
        text-shadow: .1rem .1rem .3rem rgba($color-black, .35);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        
        transform: translateY(-.3rem);
        

    }

    &:active{
        box-shadow: 0 .5rem 1rem rgba($color-black, .2);

        transform: translateY(0);
    }
}














