.composition{
    position: relative;
    &__photo{
        width: 55%;
        box-shadow: 0 1rem 2rem rgba($color-black, .4);
        border-radius: .5rem;
        position: absolute;
        transition: all .2s;
        outline-offset: 1rem;
        z-index: 20;

        &--pic1{
            top: -2rem;
            left: 0;

        }

        &--pic2{
            right: 0;
            top: 2rem;

        }

        &--pic3{
            left: 8%;
            top: 10rem;
        }

        &:hover{
            transform: scale(1.05);
            outline: 1.3rem solid $color-primary;
            z-index: 30;
        }

    }

    &:hover &__photo:not(:hover){
        transform: scale(.95);
    }
}