.feature-box{
    background-color: rgba($color-white, .8);
    padding: 2.5rem 1.5rem;
    font-size: 1.4rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .5);
    transition: all 0.2s;
    


    &__icon{
        font-size: 6rem;
        margin-bottom: .5rem;
        @include text-gradient;
    }
    &:hover{
        transform: translateY(-1.5rem) scale(1.03);
    }
}