.form {
    &__group:not(:last-child) {
        margin-bottom: 2rem;
    }

    &__input {
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border: none;
        border-radius: 2px;
        background-color: rgba($color-white, .8);
        border-bottom: 3px solid transparent;
        width: 90%;
        display: block;
        transition: all 0.3s;

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-white, .1);
            border-bottom: 3px solid $color-primary;

            &:invalid {
                border-bottom: 3px solid $color-yellow-dark;
            }
        }

        &::placeholder {
            color: $color-gray-light-2;
        }
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: 1rem;
        transition: all .5s;
        display: block;
        color: $color-gray;
    }

    &__input:placeholder-shown + &__label{
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);

    }

    &__group{

    }

    &__radio-group{
        width: 49%;
        display: inline-block;

        
    }

    &__radio-input{
        display: none;
    }

    &__radio-label{
        font-size: $default-font-size;
        padding-left: 4rem;
        position: relative;
        cursor: pointer;
    }

    &__radio-button{
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
        border-radius: 50%;
        border: 3px solid $color-primary;
        position: absolute;
        top: 0;
        left: 0;

        &::after{
            content: "";
            display: block;
            width: 1rem;
            height: 1rem;
            background-color: $color-primary;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border-radius: 50%;

            opacity: 0;
        }
    }
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }

}