//COLOR
$color-primary: #7ed56f;
$color-secondary: #28b485;

$color-yellow-light: #ffb900;
$color-yellow-dark: #ff7730;

$color-blue-light: #2998ff;
$color-blue-dark: #5643fa;

$color-white: #fff;
$color-black: #000;
$color-gray: #777;
$color-gray-light-1: #e7e7e7;
$color-gray-light-2: #999;


//FONT

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 5rem;
