//COLOR
$color-primary: #7ed56f;
$color-secondary: #28b485;

$color-white: #fff;
$color-black: #000;
$color-gray: #777;
$color-gray-light-1: #e7e7e7;


//FONT

$default-font-size: 1.6rem;

//GRID

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
